/* ============================================ *
 * Mega Menu 
 * ============================================ */

*{margin:0; padding:0; font-family:Arial,Helmet,Freesans,sans-serif !important;}
ul, ol {
    list-style: none outside none;
}
.megamenu{clear:both;}
#nav {
    font-size:11px;
    margin:10px auto 0;
    width:960px;
    color:#666;  background:#ededed;
}

#nav li {
    float: left;
    text-align: left;
}
.megamenu #nav a{
    color: #fff;
    text-decoration:none;
    font-size: 11px;
}

.megamenu #nav{
    position : relative;
    height:55px;
    width:100%; z-index:999;
}
.megamenu #nav .magestore-megamenu{
    background:#fff;
    left: 0;    
    width:100%;
    border: 1px solid #d6d6d6;  
    z-index: 1000;
    display:none;
    position:absolute;
    top:55px; box-shadow: 2px 2px 2px #888;
}
.megamenu #nav .magestore-megamenu .sub-menu{
    left: 0;   
    height: auto;
    float: left;
    position: static;
    padding:10px 2%; width:100%;
}

/*.megamenu #nav .magestore-megamenu .sub-menu h2, .megamenu #nav .magestore-megamenu .sub-menu h1 { font-size:14px; font-weight:bold; margin:0; color:#3399cc;}*/
.megamenu #nav .magestore-megamenu .block-megamenu h1, .megamenu #nav .magestore-megamenu .block-megamenu h2 { display:none;}
.megamenu #nav li:hover .magestore-megamenu{
    display:block;
}
.megamenu #nav a.megamenu-lable{
    text-transform:capitalize;
    line-height:50px !important;
    padding:0 15px;
    font-size:14px;
    height:55px;
    line-height:55px;
    display:inline-block;
	color:#636363; font-family:"Raleway","Helvetica Neue",Verdana,Arial,sans-serif !important;
}
.megamenu #nav  li.over a.megamenu-lable.over{background-color:#222 !important;color:#3399cc !important;}
.megamenu #nav  a.megamenu-lable:hover{color:#3399cc !important;}
.megamenu #nav li ul.shown-sub,.megamenu #nav li div.shown-sub{
    padding:0 !important;
    margin:0 !important;
    background:none !important;
    border:none !important;
}
.megamenu #nav div ul li {background:none !important; border:0 !important;}
.megamenu #nav div ul li div{position:static !important;border:none ;}
.megamenu #nav .magestore-megamenu li a{
    background: none repeat scroll 0 0 transparent !important;
    color: #666666 !important;
    font-size: 12px !important;
    height:auto !important;
    text-align:left !important;
}

.megamenu #nav button.button{
    border: 1px solid #1091d3;
    color: #fff;
    float: none;
    font-size: 21px;
    height: 25px;
    padding:0 15px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    letter-spacing: -1px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background: #1091d3; /* non-CSS3 default background */
    background: -webkit-gradient(linear, left top, left bottom, from(#52a6d0), to(#1091d3));
    background: -moz-linear-gradient(#52a6d0, #1091d3);
    background: -ms-linear-gradient(#52a6d0, #1091d3);
    background: linear-gradient(#52a6d0, #1091d3);
    font-size:12px;
    -pie-background: linear-gradient(#52a6d0, #1091d3);
}
.megamenu #nav button.button:hover {
    background: #CE662B;
    background: -webkit-gradient(linear, left top, left bottom, from(#F3C812), to(#CE662B));
    background: -moz-linear-gradient(#F3C812, #CE662B);
    background: -ms-linear-gradient(#F3C812, #CE662B);
    background: linear-gradient(#F3C812, #CE662B);
    -pie-background: linear-gradient(#F3C812, #CE662B);
}
.megamenu #nav button.button:active {
    color: #ccc;
    border: solid 1px #1D74B9; /* border */
    background: -webkit-gradient(linear, left top, left bottom, from(#003061), to(#0059b2));
    background: -moz-linear-gradient(#003061, #0059b2);
    background: -ms-linear-gradient(#003061, #0059b2);
    background: linear-gradient(#003061, #0059b2);
    -pie-background: linear-gradient(#003061, #0059b2);	
}

/* --------------------- Block home-----------------*/
.megamenu #nav  .block-megamenu  ul.block-home{	
    float: left;
    margin: 0 !important;
    width: 100% !important;
}
.megamenu #nav  ul.block-home li{float:left !important;margin-bottom:15px !important; background:none !important;}	
.megamenu #nav h1.block-title{
    float:left;
    font-size:11px;
    width:100%;
    text-align:left;
    padding:0 0 10px;
    font-weight:bold;
    text-transform:uppercase;
    border-bottom:1px dashed #d5d5d5;
    border-top:none !important;
    margin-bottom:10px;
    color:#000;
}
.megamenu #nav  ul.block-home li.first{
    width:40%;
    padding-right:10px;
    border-right:1px solid #d5d5d5;
    text-align:left !important;
}
.megamenu #nav  ul.block-home li.first img{border:1px solid #d5d5d5; height: auto; width: 95%;}	
.megamenu #nav  ul.block-home li.last{
    width:55% !important;
    padding-left: 15px !important;
}
.megamenu #nav  ul.block-home li.last span{
    line-height:20px;
    padding:0 0 10px 0;
    float:left;
    width:100%;
}

 /* -----------------------------Grid Category-----------------------------------*/
.megamenu #nav  .grid-categories-megamenu h1{
    float:left;
    width:100%;
    margin:0;
    padding:10px 0;
    border-bottom:1px dashed #D5D5D5;
}
.megamenu #nav  .grid-categories-megamenu ul.level0-megamenu{
    float:left;
    width:100%;
    margin:0;
}
.megamenu #nav  .grid-categories-megamenu ul.level0-megamenu li.level1-megamenu{
    float:left;
    width:21%;
    padding:0 10px;
    margin:10px  0 0 0;
    border-right:1px solid #d5d5d5;
    min-height:405px;
}
.megamenu #nav ul li.featured{
    width:25% !important;
    float:right !important;
    border:none !important;
    padding:0 0 0 10px !important;
}
.megamenu #nav .grid-categories-megamenu li .level1-title{
    float:left;
    width:100%;
    padding:10px 0;
    border-bottom:1px dashed #d5d5d5;overflow-x:hidden;
}
.megamenu #nav .grid-categories-megamenu li .level1-title h2, li.featured h2{
    padding:0 0 5px;
    margin:0;
    width:100%;
    text-transform:uppercase;
    font-weight:bold;
    color: #000000;
    font-size: 11px;
}
.megamenu #nav  .grid-categories-megamenu li ol.level2-megamenu{
    float:left;
    width:100%;
    padding:10px 0;
}
.megamenu #nav li.featured .level1-content{
    float:left;
    width:100%;
    padding:15px 0 !important;
} 

.megamenu #nav li.featured .level1-content a.product-image{float:left;width:40%;margin:0; border:none;}
.megamenu #nav li.featured .level1-content a.product-image img{width:100%;}
.megamenu #nav li.featured .level1-content .product-shop{float:left;width:50%;padding-left:10px;}
.megamenu #nav li.featured .level1-content .product-shop h1.product-name{font-weight:bold;border:none; font-size:11px; color:#666;}
.megamenu #nav li.featured .level1-content .product-shop span{float:left;width:100%;padding:5px 0 0;}
.megamenu #nav li.featured .level1-content .product-shop .price-box{float:left;width:100%;padding: 5px 0; font-weight:bold; margin:0 0 5px 0;}
.megamenu #nav li.featured .level1-content .product-shop .price{font-size:18px;color:#000;}

 
/* -------------------------------------------------------------------*/

/* ----------------------------- list Category----------------------------------*/
.megamenu #nav .list-categories-megamenu ul.level0-megamenu{
    float: left !important;
    margin: 0 !important;
    padding: 10px 15px  !important;
    width: 96% !important;
}
.megamenu #nav .list-categories-megamenu h1.block-title{
    float:left !important;
    width:100% !important;
    margin:0 !important;
    padding:10px 0 !important;
    border-bottom:1px dashed #D5D5D5 !important;
    text-transform:uppercase;
}
.megamenu #nav .list-categories-megamenu ul.level0-megamenu li.level1-megamenu{
    border-right: 1px solid #D5D5D5 !important;
    float: left !important;
    margin: 10px 0 0 !important;
    padding: 0 10px !important;
    width: 15% !important;
}
.megamenu #nav .list-categories-megamenu ul.level0-megamenu li.featured{
    width:220px !important;
    float:left !important;
    border:none !important;
    padding:0 0 0 5px !important;
}
.megamenu #nav .list-categories-megamenu ul.level0-megamenu li ul.level2-megamenu,
.megamenu #nav .list-categories-megamenu ul.level0-megamenu li ul.level2-megamenu ol,
.megamenu #nav .list-categories-megamenu ul.level0-megamenu li ul.level2-megamenu li .level1-title{float:left;width:100%;}
.megamenu #nav .list-categories-megamenu ul.level0-megamenu li ul.level2-megamenu li .level1-title{border-top:1px dashed #d5d5d5;padding-top:5px;}
.megamenu #nav .list-categories-megamenu ul.level0-megamenu li ul.level2-megamenu li.first .level1-title{border-top:none;padding-top:0;}
.megamenu #nav .list-categories-megamenu li .level1-title h2{
    padding: 5px 0 !important;
    margin:0 0 5px !important;
    float:left !important;
    width:100% !important;
    text-transform:uppercase !important;
    font-weight:bold !important;
    border-bottom:1px dashed #d5d5d5 !important;
}
.megamenu #nav li.featured .product-item{float:left;width:100%;padding:15px 0 !important;}
.megamenu #nav li.featured .product-item a{float:left;width:110px;margin:0;}
.megamenu #nav li.featured .product-item .product-shop{float:right;width:105px !important;padding: 0 0 0 5px !important;}
.megamenu #nav li.featured .product-item .product-shop h1.product-name{font-weight:bold;border:none !important; color:#000000; font-size:11px; font-weight:bold; margin:0; padding:0 0 5px; text-transform:uppercase; width: 100%;}
.megamenu #nav li.featured .product-item .product-shop span{float:left;width:100%;padding: 0;height:38px;overflow:hidden;}
.megamenu #nav li.featured .product-item .product-shop .price-box{float:left;width:100%;padding: 0;}
.megamenu #nav li.featured .product-item .product-shop .price{font-size:18px;color:#000;}
/* -------------------------------------------------------------------*/

/* -----------------------------Grid Product----------------------------------*/
.megamenu #nav .products-megamenu-grid{width:100%;}
.megamenu #nav .products-megamenu-grid  ul.level0-megamenu{
    float: left;
    margin: 0;
}
/*.megamenu #nav .products-megamenu-grid li.item{
    float:left;
    width:185px;
    border-right:1px solid #d5d5d5;
    padding-left:5px; margin-bottom:10px;
}*/
.megamenu #nav .products-megamenu-grid li.item {
  box-shadow: 0 1px 4px -1px #000000;
  float: left;
  margin: 0 6px 5px 0;
  padding-left: 5px;
  width: 170px;
}
/*.megamenu #nav .products-megamenu-grid li.item.last{border:none;}
.megamenu #nav .products-megamenu-grid li.item h1.product-name{
    border-bottom: 1px dashed #D5D5D5;
    float: left;
    font-weight: bold;
    margin: 0 5% 10px;
    padding: 5px 0;
    text-transform: uppercase;
    width: 90%;
    font-size:11px;
    color:#000;
}*/
/*.megamenu #nav .products-megamenu-grid li.item a.product-image{float:left;width:100%;text-align: center !important; border:none;}*/
/*.megamenu #nav .products-megamenu-grid li.item .product-shop{float:left;width:80%;padding:10px 10%;text-align:center;}*/
.megamenu #nav .products-megamenu-grid li.item .product-shop label{float:left;padding-right:10px;}	
.megamenu #nav .products-megamenu-grid li.item .product-shop .price{font-size:18px;color:#000;padding:0;width:auto;}
.megamenu #nav .products-megamenu-grid li.item .product-shop span{width:100%;padding:5px 0 0;text-align:center;}
.megamenu #nav .products-megamenu-grid li.item .product-shop .price-box{float:left;width:100%;padding:0; margin:5px 0;}
.megamenu #nav .magestore-megamenu img{border:none !important;}


/* -------------------------------------------------------------------*/

/* ----------------------------- List Product-----------------------------------*/
.megamenu #nav .products-megamenu-list  ul.level0-megamenu{
    float: left !important;
    margin: 0 !important;
   /* padding: 10px 10px !important;*/
}
.megamenu #nav .products-megamenu-list  ul.level0-megamenu li.level1-megamenu{float:left !important;width:75%;border-right:1px solid #d5d5d5; padding: 0 15px 0 0;}.megamenu #nav .products-megamenu-list  ul.level0-megamenu li.level1-megamenu h4{
    border-bottom: 1px dashed #D5D5D5 !important;
    float: left !important;
    font-weight: bold !important;
    margin: 0 0 5px !important;
    padding: 5px 0 15px !important;
    text-transform: uppercase !important;
    width: 98% !important;
}
.megamenu #nav .products-megamenu-list  ul.level0-megamenu li.level1-megamenu ul.level2-megamenu{float:left; width:33%;}
.megamenu #nav .products-megamenu-list  ul.level0-megamenu li.level1-megamenu ul.level2-megamenu li{width:100%;padding:0;margin:0;}
.megamenu #nav .products-megamenu-list  ul.level0-megamenu li.level1-megamenu ul.level2-megamenu li a{display:block;}
.products-megamenu-list .level2-megamenu li span {display: block; padding:7px 10px;}
.megamenu #nav .products-megamenu-list ul.level0-megamenu li.featured{
    float:right !important;
    border:none !important;
    padding:0 0 0 1% !important;
    width:25%;
}
.megamenu #nav .products-megamenu-list ul.level0-megamenu li.featured .level1-title h2{
    border-bottom: 1px dashed #D5D5D5 !important;
    float: left !important;
    font-weight: bold !important;
    padding:15px 0 5px;
    margin:0 0 10px;
    text-transform: uppercase !important;
    width: 100% !important;
}
/* ----------------------------- Contact-----------------------------------*/	
.megamenu #nav ul.block-contact{
    margin: 0;
    padding: 10px 0;
}
.megamenu #nav   ul.block-contact li.first{
    float:left !important;
    width:310px !important;
    border-right:1px solid #d5d5d5 !important; 
    padding:15px 15px 0  0 !important;
    margin:0  0 15px ;
}
.megamenu #nav   ul.block-contact li.last{float:left;width:610px;padding:0 10px;}	
.megamenu #nav h1.megamenu-title{
    float:left;
    width:100%;
    border-bottom:1px dashed #d5d5d5;
    padding:0 0 5px;
    margin:0 0 15px; 
    border-bottom: 1px dashed #D5D5D5;
    font-weight: bold;
    text-transform: uppercase;
    font-size:13px;
    color:#000;
}
.megamenu #nav   ul.block-contact li.first .address{
    float:left !important;
    width:70% !important;
    margin:0 0 15px !important; 
}
.megamenu #nav   ul.block-contact li.first .map{
    float:left !important;
    width:100% !important;
}
.megamenu #nav   ul.block-contact  li.last  .contact-form{float:left !important;width:100% !important;}
.megamenu #nav   ul.block-contact li.last  span{
    float:left !important;
    width:100% !important;
    padding:0 !important;
}
.megamenu #nav   ul.block-contact li.last  .input-box {float:left !important;width:100% !important;padding:15px 0 !important;}
.megamenu #nav   ul.block-contact li.last  .input-box .input{float:left !important;width:160px !important;margin-right:10px !important;}	
.megamenu #nav   ul.block-contact li.last  .input-box .input input{
    width:160px !important;
    border-radius:5px;
    height:25px !important;
    border:1px solid #d5d5d5 !important;
    background:#efefef !important;
}
.megamenu #nav   ul.block-contact li.last .comment{float:left !important;width:100% !important;padding:10px 0 !important; }	
.megamenu #nav   ul.block-contact li.last .comment label{float:left !important;width:100% !important;}	
.megamenu #nav   ul.block-contact li.last .comment textarea{
    width:100% !important;
    float:left !important;
    height:150px !important;
    background:#efefef !important;
}
.megamenu #nav   ul.block-contact li.last .comment .button-set{float:left !important;width:100% !important;padding:10px 0 0 !important;text-align:right;}	
.megamenu div .footer-megamenu{float:left;width:100%;}		
#nav ul li, #nav ul li.active {
    float: none;
    margin: 0;
    padding-bottom: 1px;
}
ol.level2-megamenu li a span, ol.level2-megamenu li a span {
    padding: 3px 15px 4px;
    display:block;
}
.magestore-megamenu .level1-megamenu label{line-height:18px; color: #666666; font-size: 11px; font-weight:normal; font-weight:bold;}
.megamenu #nav .magestore-megamenu form{padding:0;}
/* ============================================ *
 * Small Viewports - Accordion Style Menu
 * ============================================ */
@media only screen and (max-width: 770px) {
#header-nav { padding-bottom:0 !important;}
#header-nav .megamenu #nav { height:auto;}
#header-nav .megamenu #nav > li { float:none; display:block; clear:both; border-bottom:1px solid #ccc;}
.megamenu #nav a.megamenu-lable { height:auto; padding:8px 15px; line-height:20px !important; display:block;}
.megamenu #nav .magestore-megamenu { position:inherit !important; display:none; clear:both; width:100%; box-shadow:none; background:#fff; float:left; border-bottom:1px solid #ccc;}
.megamenu #nav .magestore-megamenu .sub-menu { width:100%;}
.megamenu #nav .magestore-megamenu .grid-categories-megamenu { width:100%;}
.megamenu #nav .magestore-megamenu .grid-categories-megamenu .level1-megamenu { width:100% !important;}
.megamenu #nav .magestore-megamenu .grid-categories-megamenu .level1-megamenu ul { float:left; width:20% !important;}
.megamenu #nav .magestore-megamenu .grid-categories-megamenu .featured_content { width:100%;}
.megamenu #nav li:hover .magestore-megamenu{ display:none; }
}

@media only screen and (max-width: 768px){
	
}

@media only screen and (max-width: 480px) {
.megamenu #nav .magestore-megamenu .grid-categories-megamenu .level1-megamenu ul { width:50% !important;}
.megamenu #nav .magestore-megamenu .grid-categories-megamenu { width:100% !important;}
.megamenu #nav .products-megamenu-grid  ul.level0-megamenu { width:100% !important;}
.megamenu #nav .products-megamenu-grid li.item { clear:none !important; float:left !important; width:48%;}
.megamenu #nav .magestore-megamenu .featured_content li{margin:0 10px 10px 0 !important; clear:none !important;}
}

/* =============================
	Author :: Nitin
   ============================= */
   
.megamenu #nav .magestore-megamenu .megamenu-title{
	color:#3399cc;
	font-size:14px;
	font-weight:bold;
	margin:10px 0 !important;	
}
.megamenu-header{
	border-bottom: 1px dashed #000000;
}
.megamenu-header, .megamenu-footer{
  color: #666666;
  font-size: 12px;
  padding: 10px 0;
  clear:both;
}
.megamenu-footer{
	border-top: 1px dashed #000000;
}
.megamenu #nav .magestore-megamenu .megamenu-main-content{
	padding:15px 2px;
	display:table;
	overflow:hidden;
	width: 100%;
}
.megamenu #nav .magestore-megamenu .grid-categories ul{
	overflow:hidden;	
}
.megamenu #nav .magestore-megamenu .grid-categories .level1-megamenu{
	display:table;
	padding:10px 0;	
}
.megamenu #nav .magestore-megamenu .grid-categories .level1-megamenu ul{
  float: left;
  width: 230px;	
  overflow:hidden;
  padding-right:10px;
  margin-bottom:15px;
}
.megamenu #nav .magestore-megamenu .grid-categories .level1-megamenu ul li{
	padding:2px 0;
}
.megamenu #nav .magestore-megamenu .grid-categories .level1-megamenu ul > li:first-child{
	padding:10px 0;
	font-weight:bold;
}
.megamenu #nav .magestore-megamenu .grid-categories .level1-megamenu ul > li:first-child a{
	font-size:13px;	
}
.megamenu #nav .magestore-megamenu .featured_content {
  clear: both;
  padding-bottom:15px;
}
.megamenu #nav .magestore-megamenu .featured_content li{
  border: 1px solid #d8d8d8 !important;
  border-radius: 5px;
  float: left !important;
  margin: 0 10px 0 0;
  min-height: 165px;
  text-align: center !important;
  width: 130px;
  padding:10px 5px;
}
.megamenu #nav .magestore-megamenu .featured_content li .product_name,
.products-megamenu-grid .megamenu-main-content ul li .product-name{
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	min-height: 45px;
	text-transform: capitalize !important;
}

.megamenu #nav .magestore-megamenu .featured_content li a, .megamenu #nav .magestore-megamenu .featured_content li a img,
.products-megamenu-grid .megamenu-main-content ul li, .products-megamenu-grid .megamenu-main-content ul li a img{
  display: table;
  margin: 0 auto;
  text-align: center !important;
  border:none;
}
.megamenu #nav .magestore-megamenu .featured_content li a .product_price{font-weight:bold; padding:10px 0 0 0;}

/* ===========================================
 * Product Listing :: Author :: Nitin 
 * =========================================== */
.products-megamenu-grid .megamenu-main-content ul li{
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	min-height: 240px;
	padding: 10px;
	width: 185px;
}
.products-megamenu-grid .megamenu-main-content ul li a{
	border:none;	
}
.products-megamenu-grid .megamenu-main-content ul li a img{
	width:100px;
	height:100px;	
}
/* ===========================================
 * Contact Us :: Author :: Nitin 
 * =========================================== */
 input[type="email"], input[type="search"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"]{
	width :100% !important;
	max-width:365px !important;
 }
.megamenu #nav .buttons-set button.button{
	float:left;
}
