<?xml version="1.0"?>
<config>
    <modules>
        <Cybage_Megamenu>
            <version>0.1.11.5</version>
        </Cybage_Megamenu>
    </modules>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>Cybage_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>cybage_megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <megamenu>
                <use>admin</use>
                <args>
                    <module>Cybage_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
            

        </routers>
    </admin>
    <adminhtml>               
        <layout>
            <updates>
                <megamenu>
                    <file>cybage_megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <megamenu>
                <class>Cybage_Megamenu_Model</class>
                <resourceModel>megamenu_resource</resourceModel>
            </megamenu>
            <megamenu_resource>
                <class>Cybage_Megamenu_Model_Resource</class>
                <entities>                    
                    <megamenu>
                        <table>megamenu_main</table>
                    </megamenu>                    
                    <stores>
                        <table>megamenu_stores</table>
                    </stores>                    
                    <menutype>
                        <table>megamenu_type</table>
                    </menutype>                    
                    <menutemplate>
                        <table>megamenu_template</table>
                    </menutemplate>                    
                    <attributes>
                        <table>megamenu_attribute</table>
                    </attributes>
                    <menuattributes>
                        <table>megamenu_template_attributes</table>
                    </menuattributes>                    
                    <menuattributevalues>
                        <table>megamenu_template_attributes_values</table>
                    </menuattributevalues>
                </entities>
            </megamenu_resource>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Cybage_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>Cybage_Megamenu_Block</class>
            </megamenu> 
        </blocks>
        <helpers>
            <megamenu>
                <class>Cybage_Megamenu_Helper</class>
            </megamenu>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_button_refresh>
                        <class>Cybage_Megamenu_Model_observer</class>
                        <method>addButtonRefresh</method>
                    </add_button_refresh>
                </observers>
            </adminhtml_widget_container_html_before>
            
            <controller_action_layout_load_before>
                <observers>
                    <attributesethandle>
                        <class>Cybage_Megamenu_Model_Observer</class>
                        <method>addHandler</method>
                    </attributesethandle>
                </observers>
            </controller_action_layout_load_before>
        </events>         
    </global>
</config>